{% extends "app/layout.html" %}
{% block content %}
<head>
    <style>
      body {
        background-color: #5ec4b1;
      }
    </style>
</head>
<main class="main-home">
    <div class="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-content text-center">
                        <h1 id="h1-home">Rozpocznij diagnozę</h1>
                        <a href="{% url 'app-patient' %}" id="main_button" class="btn btn-primary btn-lg active btn-home" role="button">Nowy Pacjent</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</main>
{% endblock content %}
