{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<head>
    <style>
      body {
        background-color: #5EC4B1;
      }
    </style>
</head>

    <main class="symptoms">
        <div class="container" id="symptoms">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label class="patient-symptoms-description">Objawy emocjonalno-motywacyjne</label>
                    <div class="form-floating">
                        <select class="multiple-select" id="patient-symptoms-1" multiple name="native-select" placeholder="Wybierz Diagnozę" data-search="false" data-silent-initial-value-set="true">
                            <option value="none">Brak</option>
                            <option value="F10">F10. Zaburzenia psychiczne i zachowania spowodowane używaniem alkoholu</option>
                            <option value="F11">F11. Zaburzenia psychiczne i zachowania spowodowane używaniem opiatów</option>
                            <option value="F12">F12. Zaburzenia psychiczne i zachowania spowodowane używaniem kannabinoidów</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label class="patient-symptoms-description cognitive-symptoms">Objawy poznawcze</label>
                    <div class="form-floating">
                        <select class="multiple-select" id="patient-symptoms-2" multiple name="native-select" placeholder="Wybierz Diagnozę" data-search="false" data-silent-initial-value-set="true">
                            <option value="none">Brak</option>
                            <option value="F10">F10. Zaburzenia psychiczne i zachowania spowodowane używaniem alkoholu</option>
                            <option value="F11">F11. Zaburzenia psychiczne i zachowania spowodowane używaniem opiatów</option>
                            <option value="F12">F12. Zaburzenia psychiczne i zachowania spowodowane używaniem kannabinoidów</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label class="patient-symptoms-description">Objawy behawioralne</label>
                    <div class="form-floating">
                        <select class="multiple-select" id="patient-symptoms-3" multiple name="native-select" placeholder="Wybierz Diagnozę" data-search="false" data-silent-initial-value-set="true">
                            <option value="none">Brak</option>
                            <option value="F10">F10. Zaburzenia psychiczne i zachowania spowodowane używaniem alkoholu</option>
                            <option value="F11">F11. Zaburzenia psychiczne i zachowania spowodowane używaniem opiatów</option>
                            <option value="F12">F12. Zaburzenia psychiczne i zachowania spowodowane używaniem kannabinoidów</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label class="patient-symptoms-description">Objawy interpersonalne</label>
                    <div class="form-floating">
                        <select class="multiple-select" id="patient-symptoms-4" multiple name="native-select" placeholder="Wybierz Diagnozę" data-search="false" data-silent-initial-value-set="true">
                            <option value="none">Brak</option>
                            <option value="F10">F10. Zaburzenia psychiczne i zachowania spowodowane używaniem alkoholu</option>
                            <option value="F11">F11. Zaburzenia psychiczne i zachowania spowodowane używaniem opiatów</option>
                            <option value="F12">F12. Zaburzenia psychiczne i zachowania spowodowane używaniem kannabinoidów</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-center justify-content-lg-start">
                    <a href="{% url 'app-patient' %}" id="btn-left" class="btn btn-primary btn-lg active btn-home" role="button">Dane Pacjenta</a>
                </div>
                <div class="col-sm-6 d-flex justify-content-center justify-content-lg-end">
                    <a href="{% url 'app-results' %}" id="btn-right" class="btn btn-primary btn-lg active btn-home" role="button">Diagnoza</a>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'app/virtual-select.min.js' %}" ></script>
        <script type="text/javascript">
            
            const selectors = ['#patient-symptoms-1', '#patient-symptoms-2', '#patient-symptoms-3', '#patient-symptoms-4'];

            for (const selector of selectors) {
            VirtualSelect.init({
                ele: selector
            });
            }
        </script>
    </main>
{% endblock content %}