{% extends "app/layout.html" %}

{% block content %}
<head>
    <style>
      body {
        background-color: #5ec4b1;
      }
      #btn-exit {
        display: none;
      }
    </style>
</head>
<a href="{% url 'app-home' %}" id="btn-menu" type="button" class="btn btn-primary">
  Nowy Pacjent
</a>

<div class="container text-center">
  <form method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="col-md-6">
            <h1>Rejestracja</h1>
        <form>
          <div class="form-group register_panel">
            <input type="text" class="form-control" id="inputName" placeholder="Imię">
          </div>
          <div class="form-group register_panel">
            <input type="text" class="form-control" id="inputSurname" placeholder="Nazwisko">
          </div>
          <div class="form-group register_panel">
            <input type="text" class="form-control" id="inputID" placeholder="Numer identyfikacyjny">
          </div>
          <div class="form-group register_panel">
            <input type="email" class="form-control" id="inputEmail" placeholder="Adres e-mail">
          </div>
          <div class="form-group register_panel">
            <input type="password" class="form-control" id="inputPassword" placeholder="Hasło">
          </div>
          <div class="form-group register_panel">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Potwierdź hasło">
          </div>
            <button type="submit" class="btn btn-primary btn-home register_button">Zarejestruj się</button>
        </form>
      </div>
     </div>
    </form>
  </div>

{% endblock content %}
  