.home {
    background: url("/static/app/diagnostic_home.jpg");
    height: 80vh;
    width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #59a093;
    box-shadow: 0 0 50px 50px #318878 inset;
    z-index: -1;
    opacity: 15%;
}
.btn-navbar:hover {
    color: white;
}
.btn {
    padding: 2.5vh 5vh;
    font-size: 1.5em;
}
#btn-exit, #btn-menu {
    position: fixed;
    right: 5vw;
    top: 5vh;
    padding: 1vh 1vh;
    font-size: 1.5em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    background-color: #03505d;
    border: white;
    opacity: 100%;
    cursor: default;
    transition: opacity 0.25s ease-in-out;
}
#login_button, #register_button {
    padding: 1vh 1vh;
    font-size: 1.5em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    color: white;
    border: white;
    opacity: 100%;
    cursor: default;
    transition: opacity 0.25s ease-in-out;
}
#btn-exit:hover, #btn-menu:hover, #login_button:hover, #register_button:hover {
    opacity: 50%;
    cursor: pointer;
    transition: opacity 0.25s ease-in-out;
}
#h1-home {
    color: #318878;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
h1 {
    color: #03505d;
}
.main-content {
    margin-top: 32.5vh;
}
.patient {
    height: 75vh;
    margin-top: 25vh;
}
.symptoms {
    height: 75vh;
    margin-top: 25vh;
}
.row {
    margin: 5vh;
}
#patient-age {
    margin-top: 1vh;
}

.row .btn-home {
    color: white;
    margin-top: 2.5vh;
    background-color: #397e76; 
    border-radius: 0;
    border: white;
    opacity: 100%;
    cursor: default;
    transition: opacity 0.25s ease-in-out;
}

.row .btn-home:hover {
    opacity: 50%;
    cursor: pointer;
    transition: opacity 0.25s ease-in-out;
}

.row .btn-home:visited,
.btn-home:active,
.btn-home:focus,
.btn-home:active:focus{
    color: white;
    text-decoration: none;
    background-color: #59a093;
}

#btn-right{
    position: relative;
    bottom: 0;
    right: 0;
}
#btn-left{
    position: relative;
    bottom: 0;
    left: 0;
}
#btn-dismiss {
    margin: auto;
    border: none;
    padding: 0.5vh;
    background-color: #59a093;
}
#btn-delete {
    margin: auto;
    border: none;
    padding: 0.5vh;
    background-color: #106d7e;
}
.row .patient-symptoms-description {
    color: white;
    margin-bottom: 1vh;
    font-size: 1.5rem;
}
.form-control::placeholder {
    text-align: center;
  }
.register_panel {
    margin: 2.5vh;
}
.form-group {
    text-align: center;
}
.container-register {
    margin-top: 15vh;
}
.main_results {
    height: 70vh;
    background-color: #fefffe;
    border-radius: 30px;
    text-align: center;
    margin: 1vh 1vw;
    overflow: auto;
}
.other_results {
    height: 70vh;
    background-color: #fefffe;
    border-radius: 30px;
    text-align: center;
    margin: 1vh 1vw;
    overflow: auto;
}
.block-comments {
    min-height: 70vh;
    margin-top: 15vh;
    background-color: #015450;
    border-radius: 30px;
}

textarea {
    max-height: 30vh;
    min-height: 15vh;
}
.alert {
    position: absolute;
    margin-top: 2.5vh;
    left: 50%;
    transform: translateX(-50%);
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .cognitive-symptoms {
      margin-top: 4vh;
    }
  }
.multiple-select  {
    min-width: 100%;
}
